.homePage{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    gap: 70px;
}

.homePage__salute{
    color: #DD1A1A;
    font-size: 40px;
    font-weight: 700;
    font-family: inherit;
    text-shadow: 0 0 2px  black;
}

.homePage__trainer__salute{
    text-align: center;
    margin-top: -60px;
}

.homePage__phrase{
     color: grey;
     font-size: 40px;
     font-weight: bold;
     font-family: inherit;
}

.homePage__form{
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    max-width: 80%;
}

.homePage__input{
    border: none;
    border-radius: 0px ;
    padding: 1.1em 2em;
    box-shadow: 0px 1px 1px black;
    font-size: 15px;
    width: 70%;
      
}
.homePage__button{
    border: none;
    background-color: #DD1A1A;
    color: white;
    font-size: 15px;
    border-radius: 0px ;
    padding: 1.1em 2em;
    box-shadow: 0px 1px 1px black;
    transition: all 100ms ease;
    width: 30%;
}

.homePage__button:hover{
    transform: scale(1.07);
    filter: brightness(1.4);
}

